.App {
  text-align: center;
  max-width: 700px;
}
.main{
  min-height: 100vh;

}
.button{

}
.button-add{
  position: fixed;
  bottom: 8%;
  right: 48%;
  width: 38px;
  min-height: 38px;
}

.list{
  margin: 0;
  border-radius: 9px;
}
.top{

}
.button{
  margin-right: 20px;
  height: 70%;
}
.modal-window{
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .4);
}
.modal-window__wraper{
  background-color: white;
}




/* __________________________________ */
.my-node-enter {
  transform: translateY(300px);
  opacity: 0;

}
.my-node-enter-active {
  transition: transform 1000ms;
  transform: translateY(0);

}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}