.App {
  text-align: center;
  max-width: 700px;
}
.main{
  min-height: 100vh;

}
.button{

}
.button-add{
  position: fixed;
  bottom: 2px;
  right: 48%;
  width: 38px;
  min-height: 38px;
}

.list{
  margin: 0;
  border-radius: 9px;
}
.top{

}
.button{
  margin-right: 20px;
  height: 70%;
}
.modal-window{
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .4);
}
.modal-window__wraper{
  background-color: white;
}
.modal-window__color-btn{
  width: 30px;
  min-height: 30px;
  border: none;
}
.modal-window__border{
  border: 3px dashed whitesmoke;
}
.item{
  min-height: 30px;
}

.footer{
  min-height: 50px;
}
.menu__item{
  cursor: pointer;
}
.menu__item:hover{
  text-decoration: underline;
}
.avatar{
  width: 40px;
  min-height: 40px;
  cursor: pointer;

}
.messages__aside{
  opacity: .4;
  
}
/* ________________CSS TRANSITION GROUP__________________ */
.alert-enter {
  opacity: 0;
  transform: translateY(60%);
}
.alert-enter-done {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 500ms , transform 500ms ;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-done {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.menu-transition-enter {
  opacity: 0;
  transform: translateY(-60%);
  z-index: 0;
}
.menu-transition-enter-done {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 500ms , transform 500ms ;
  z-index: 0;
}
.menu-transition-exit {
  z-index: 0;
  opacity: 1;
}
.menu-transition-exit-done {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
  z-index: 0;
}