.App {
  text-align: center;
  max-width: 700px;
}
.main{
  min-height: 100vh;

}
.spinner__wrapper{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .4);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000;
}
.loader-list__wrapper{
  position: absolute;
  background-color: rgba(0, 0, 0, .4);
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000;
  border-radius: 9px;

}
.button-add{
  position: fixed;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  
  width: 100px;
  min-width: 73px;

  min-height: 38px;
}
.button-crear-add{
  width: 38px;
  min-height: 38px;
}
.list{
  margin: 0;
  border-radius: 9px;
  position: relative;
}
.group-items{
  border-radius: 9px;

}

.button{
  margin-right: 20px;
  height: 70%;
}
.modal-window{
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .4);
}
.modal-window__wraper{
  background-color: white;
}
.modal-window__color-btn{
  width: 30px;
  min-height: 30px;
  border: none;
}
.modal-window__border{
  border: 3px dashed whitesmoke;
}
.modal-window__input{
  min-height: 37px;
}
.item{
  min-height: 30px;
}
.list-of-list:hover{
  transform: scale(1.05);
  cursor: pointer;
}
.footer{
  min-height: 50px;
}
.menu__item{
  cursor: pointer;
  min-height: 24px;
}
.menu__item:hover{
  text-decoration: underline;
}
.avatar{
  width: 40px;
  min-height: 40px;
  cursor: pointer;

}
.bottom-submenu{
  padding-top: 130px;
}
.messages__aside{
  opacity: .4;
  
}
.messages__add-user{
  opacity: 1;
  transition: color .3s;
}
.messages__add-user:hover{
  color:black !important; 
}
.messages__add-user-form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3px;
  height: 80px;
}
.messages__form-wrapper{
  transform: translateY(-80px);
  transition: .5s ease-in-out;
}
.messages__form-wrapper_active{
  transform: translateY(0);
}
.zindex-1000{
  z-index: 1000;
}
.zindex-1{
  z-index: 1;
}
.profile{
  margin-top: 20px;
  margin-bottom: auto;
}
.profile__form-wrapper{
  max-height: 0;
  min-height: 0;
  transform: translateY(-90px);
  transition: .5s ease-in-out;
}
.profile__form-wrapper_active{
  transform: translateY(0);
  max-height: 90px;
  min-height: 90px;
}
/* ________________CSS TRANSITION GROUP__________________ */
.alert-enter {
  opacity: 0;
  transform: translateY(60%);
}
.alert-enter-done {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 500ms , transform 500ms ;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-done {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.menu-transition-enter {
  opacity: 0;
  transform: translateY(-60%);
  z-index: 0;
}
.menu-transition-enter-done {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 500ms , transform 500ms ;
  z-index: 0;
}
.menu-transition-exit {
  z-index: 0;
  opacity: 1;
}
.menu-transition-exit-done {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
  z-index: 0;
}

.item-enter {
  opacity: 0;
  transform: translateY(0%);
}
.item-enter-done {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 500ms , transform 500ms ;
}
.item-exit {
  opacity: 1;
}
.item-exit-done {
  opacity: 0;
  transform: translateY(60%);
  transition: opacity 300ms, transform 300ms;
}